{%load static%}
<link rel="stylesheet" href="{%static 'css/main.css' %}">
<div class="side">
    <h1><a href="/">Home</a></h1>
    <h1><a href="">About us</a></h1>
    {%if user.is_authenticated %}
    <h1><a href="{%url 'income:addincome'%}">AddIncome</a></h1>
    <h1><a href="{%url 'expense:addexpense'%}">AddExpense</a></h1>
    <h1><a href="{%url 'income:incdetails'%}">Incomelist</a></h1>
    <h1><a href="{%url 'expense:expdetails'%}">Epenselist</a></h1>
    <h1><a href="{%url 'account:logout' %}">Logout</a></h1>
    {%else%}
    <h1><a href="{%url 'account:register' %}">Register</a></h1>
    <h1><a href="{%url 'account:login'%}">Login</a></h1>
    {% endif %}
    

</div>
<div class="main">
{%block "body"%}  


{%endblock%}
</div>