<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{%extends 'sidebar.html'%}


{%block "body"%}
    <table border="1px" align="center" >
        <tr>
            <th>Expense</th>
            <th>Expense Type</th>
            <th>Expense Date</th>
            <th>Descrption</th>
            <th>user</th>
            <th colspan="2">Action</th>
        </tr>
        {% for i in data1 %}
        <tr>
            <td>{{i.expense}}</td>
            <td>{{i.expense_type}}</td>
            <td>{{i.expense_date}}</td>
            <td>{{i.description}}</td>
            <td>{{i.user}}</td>
            <td><a href="{%url 'expense:delete' i.id%}">Delete</a></td>
            <td><a href="{%url 'expense:edit' i.id%}">Edit</a></td>
        </tr>
        {%endfor%}
    </table>
    {%endblock%}
</body>
</html>